# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environment
venv/
.env

# IDE files
.idea/
.vscode/

# Flask file (if using the Flask development server)
instance/

# Databases
*.sqlite

# Logs
logs/
*.log

# Unit test / coverage reports
.htmlcov/
.coverage
.tox/

# End of .gitignore
